@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

:root {
  --main-white: #fffbfb;
  --main-grey: #f0eef1;
  --light-green: #9fff9c;
  --light-red: #ff9c9c;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/* MAIN LAYOUT */

.container {
  padding: 1.5em;
  margin: 1em auto;
}

p {
  line-height: 1.5;
}

html {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

body {
  color: #252525;
  background-color: var(--main-grey);
  word-wrap: break-word;
  text-align: center;
}

/* HEADER */

.header {
  height: 100px;
  background-color: var(--main-white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}

/* BOOKS GRID */

.book-grid-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  margin-top: 2em;
}

/* BOOK CARD */

.book-card {
  display: flex;
  font-size: 1.3rem;
  flex-direction: column;
  text-align: center;
  padding: 0.7em;
  gap: 16px;
  background-color: var(--main-white);
  box-shadow: var(--shadow);
}

/* BUTTONS */

.btn {
  padding: 0.7em 2em;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: inherit;
  cursor: pointer;
}

.btn-add {
  font-size: 1.6rem;
  background-color: transparent;
  transition: all 0.5s;
}

.btn-remove {
  transition: all 0.5s;
}

.btn-add:hover,
.btn-remove:hover {
  background-color: lightgrey;
}

.btn-add:active {
  background-color: grey;
}

.btn-read {
  background-color: var(--light-red);
}

.btn-read.active,
.btn-submit {
  background-color: var(--light-green);
}

.btn-read {
  margin-bottom: 0.7em;
  transition: all 0.5s;
}

.btn-read.active:hover,
.btn-submit:hover {
  background-color: rgb(138, 216, 135);
}

.btn-read:hover {
  background-color: rgb(190, 116, 116) ż;
}

.btn-submit {
  width: 100%;
  transition: all 0.5s;
}

/* BTN GROUP */

.btn-group > * {
  width: 100%;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 30px 0;
}

/* MODAL */
.modal-add-book.active {
  display: block;
}

.modal-add-book,
.modal-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-add-book {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.isread {
  display: flex;
  gap: 15px;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal-content {
  position: fixed;
  margin: auto;
  width: 300px;
  height: 400px;
  background-color: var(--main-grey);
  padding: 1em;
  border-radius: 10px;
}

/* MODAL INPUTS */

.modal-content .input {
  font-size: 1.05rem;
  padding: 1.2em;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
}

/* MEDIA QUERIES */

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
